.not-found__title {
  text-align: center;
}

.not-found__title span {
  font-size: 150px;
  color: #4481c3;
}

.not-found__link {
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 10%;
  padding: 14px 50px 12px;
  background: #4481c3;
  color: #ffffff;
}
